button{
    margin: 5px;
    font-size: x-small;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img{
    width: 15%;
    height: 25%;
    margin: 5px;
}