.container{
    margin-top: 20px;
    margin-left: 35%;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    border-radius: 3pc;
    background-color:rgb(202, 247, 232);
    align-items: center;
    justify-content: center;
}

button{
    right: 0%;
    position: relative;
    margin: 10px;
}


