
#list{
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #b9b8af;
    color: black;
    border-radius: 5px;   
    height: fit-content;
    padding: 5px;
    position: relative;
    z-index: 3;
}

#addMovieBtn{
    margin-left: 35%;
    width: 400px
}

#movieList{
    position: absolute;
    right: 5%;
    margin-top: 20px;
    width: fit-content;
    min-width: 200px;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    text-align: right;
}

#wishlist{
    border-radius: 5px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 3;
    background-color: white
}