<div class="container">
  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <label>Image: </label>
    <input formControlName="file" multiple type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
      (change)="uploadFile($event)" />
    <div *ngFor="let img of imgSrc; let i = index">
      <img [src]="img" *ngIf="imgSrc">
      <button class="btn btn-danger btn-sm" (click)="removeMovieImg(imgSrc[i])">&times;</button>
    </div>
    <div>
      <label>
        Title:
        <input formControlName="title" placeholder="Title">
      </label>
    </div>
    <div>
      <label>
        Release Year :
        <input type="year" formControlName="releaseYear" placeholder="Release Year">
      </label>
    </div>
    <div>
      <label>
        Rating:
        <input formControlName="rating" placeholder="Rating">
      </label>
    </div>
    <div>
      <label>
        Type:
      </label>
      <select formControlName="type">
        <option value="TV Show">TV Show</option>
        <option value="Movie">Movie</option>
      </select>
    </div>
    <button class="btn button btn-light" type="submit">Add</button>

  </form>

</div>