<div class="row">
    <div id="movieList">
        <select id="list">
            <ng-container *ngIf="count === 0; else wishlistCount">
                <option id="wishlistOption">WishList</option>
            </ng-container>
            <ng-template #wishlistCount>
                <option id="wishlistOption">WishList ({{count}})</option>
            </ng-template>
            <ng-container *ngFor="let movie of wishListData">
                <option>
                    <app-wishlist *ngIf="wishListData" [movie]="movie['movie-data']"></app-wishlist>
                </option>
            </ng-container>
        </select>
    </div>
    <app-movie-filter id="filter" [movies]="wishListData"></app-movie-filter>
</div>
<div style="margin-top: 20px;"></div>
<ng-container  *ngIf="movies | async as data">
    <div class="col-6 col-md-3 result row" *ngFor="let movie of data">
        <app-movie-card [movie]="movie"  (movieDataEvent)="wishListDataHandling($event)"></app-movie-card>
    </div>
</ng-container>
