
#list{
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #b9b8af;
    color: black;
    border-radius: 5px;   
    height: fit-content;
    padding: 5px;
    position: relative;
    z-index: 3;
}


#movieList{
    position: absolute;
    right: 0%;
    margin-top: 20px;
    width: 200px;
    align-items: center;
}