.filter{
    margin: 20px;
}

.inside-list{
    background-color: #e9e8e0;
    color: black;
    font-weight: bold ;
    pointer-events: visibleFill;
}

#check-list-spaces{
    margin:5px;
    padding:5px;
    width: 500px;
    height: 110px;
    overflow: auto;
    display: none;
    text-align:justify;
}
#listSkeleton{
    display: none;
}
